<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
    <style>
        table, th, td {border:1px solid black;}
    </style>
</head>
<body>
    <p><a href="{% url 'book:index' %}">Назад к списку всех ссылок</a></p>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
        <table style="width:50%" align="center">
            <tr>
                <th>Имя</th>
                <th>Средний рейтинг</th>
                <th>Общее количество книг</th>
                <th>Возраст</th>
            </tr>
            {% for auth in authors %}
            <tr>
                <td><a href="{% url 'book:auth_detail' auth.id %}">{{ auth.name }}</a></td>
                <td>{{ auth.rating }}</td>
                <td>{{ auth.total }}</td>
                <td>{{ auth.age }}</td>
            </tr>
            {% endfor %}
        </table>

</body>
</html>