<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Best Books with Publishers</title>
    <style>
        table, th, td {border:1px solid black;}
    </style>
</head>
<body>
    <p><a href="{% url 'book:index' %}">Назад к списку всех ссылок</a></p>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
        <table style="width:100%">
            <tr>
                <th>Имя</th>
                <th>Автор</th>
                <th>Рейтинг</th>
                <th>Издатель</th>
            </tr>
            {% for book in publishers_books %}
            <tr>
                <td><a href="{% url 'book:book_detail' book.id %}">{{ book.name }}</a></td>
                <td>{% for author in book.authors.all %}{{ author }}; {% endfor %}</td>
                <td>{{ book.rating }}</td>
                <td>{{ book.publisher.name }}</td>
            </tr>
            {% endfor %}
        </table>
</body>
</html>